/***********************
** EXERCÍCIO - AULA 03 **
***********************/

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swa');


html,
body {
    font-family: 'Heebo'
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

h2.subtitle,
.article-title,
.article-author{
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 35rem;
    margin: 1rem auto;
}

.article-title {
    font-size: 3.6rem;
}

.article-author {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h2.subtitle {
    font-size: 2.2rem;
    font-weight: var(--font-weight-lead);
}

p {
    font-size: 1rem;
    padding: 0 6rem;
    display: block;
    width: 100%;
    max-width: 35rem;
    margin: 1rem auto;
}

